<ion-view ng-controller="GraficoController as ctrl">
    <ion-content padding="true" ng-class="{'has-footer': showFooter}">
        <ion-slide-box show-pager="true" >
            <ion-slide>
                <highchart id="chart1" config="chartTarefaConfig" class="span10"></highchart><br><br>
            </ion-slide>
            <ion-slide>
                <highchart id="chart2" config="chartCategoriaConfig" class="span10"></highchart><br><br>
            </ion-slide>
        </ion-slide-box>

    </ion-content>
</ion-view>