<ion-view ng-controller="GraficoController as ctrl">
    <ion-content padding="true" ng-class="{'has-footer': showFooter}">
        <ion-slide-box show-pager="true" >
            <ion-slide>
                <highchart id="chart1" config="chartTarefaConfig" class="span10"></highchart><br><br>
            </ion-slide>
            <ion-slide>
                <button class="button button-full button-assertive" ng-click="ctrl.changeDisplay()">
                    {{ ctrl.display() }}
                </button>
                <highchart ng-if="ctrl.display()=='This week'" config="chartCategoriaSemanaCorrenteConfig" class="span10"></highchart><br><br>
            </ion-slide>
        </ion-slide-box>

    </ion-content>
</ion-view>