.button-float {
    background: #e42112 !important;
    color: white !important;
    z-index: 12 !important;
    border-radius: 50% !important;
    box-shadow: 0 0.125em 0.313em 0 rgba(0, 0, 0, 0.26) !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
    -webkit-transition: 0.2s linear !important;
    transition: 0.2s linear !important;
    -webkit-transition-property: -webkit-transform, all !important;
    transition-property: transform, all !important;
    position: absolute;
    left: 42%;
    top:100%;
}

.button-float:hover {
    -webkit-transform: translate3d(0, -0.063em, 0) !important;
    transform: translate3d(0, -0.063em, 0) !important;
    box-shadow: 0 0.250em 0.500em 0 rgba(0, 0, 0, 0.4) !important;
    background: #e42112 !important;
}

.item-stable{
    background: black;
}
